#aq-board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#aq-board {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#aq-board-img {
  width: 425px;
  user-select: none;
}